body {
  background-color: rgb(73, 71, 71);
  font-family: "Roboto", sans-serif;
}

form {
  background-color: rgb(255, 255, 255);
  width: 30rem;
  padding: 1rem;
  margin: 3rem auto;
  border-radius: 4px;
}

h2 {
  margin: 1.5rem auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

label {
  margin-bottom: 0.5rem;
  display: block;
}

input, textarea, select {
  width: 100%;
  margin-bottom: 1rem;
  display: block;
  box-sizing: border-box;
  font-family: inherit;
  padding: 0.25rem;
  border: 2px solid rgb(85, 79, 79);
  color: rgb(86, 111, 168);
}

input:focus, textarea:focus {
  background-color: rgb(219, 190, 253);
  color: rgb(79, 77, 77);
  border-color: rgb(22, 174, 125);
}

textarea {
  resize: vertical;
}

.verify-type {
  display: flex;
  margin-top: 0.5rem;
}

.verify-type input {
  width: auto;
  margin-right: 0.5rem;
}

.contact {
  display: flex;
  margin-top: 0.5rem;
}

.contact input {
width: auto;
margin-right: 1rem;
}

.checkbox {
  display: flex;
  margin-top: 1rem;
}

.checkbox input {
  width: auto;
  margin-left: 1.5rem;
  margin-top: 0.25rem;
}

button {
  display: block;
  font-family: inherit;
  background-color: rgb(90, 211, 154);
  color: white;
  border: 1px solid rgb(90, 211, 154);
  margin-top: 1rem;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  width: 6rem;
}

button:hover {
  background-color: rgb(21, 218, 125);
  border-color: rgb(21, 218, 125);
  }
  